@mixin lightmode {
  --anchor: #16a085;
  --text: #2c3e50;
  --bg: #ffffff;
  --border: #eaeaea;
  --muted: #808080;
  --activeElm: #ebf7ff;
}

@mixin darkmode {
  --anchor: #16a085;
  --text: #b1b1b1;
  --bg: rgb(21, 21, 21);
  --border: #444444;
  --muted: #808080;
  --activeElm: #424242;
}

@mixin imagelight{
  filter: brightness(1) contrast(1);
}

@mixin imagedark{
  filter: brightness(.8) contrast(1.3);
}

html.light{
  @include lightmode;
}

html.dark{
  @include darkmode;
}

:root:not(.light):not(.dark){
  @include lightmode;
}

:root:not(.light):not(.dark) img{
  @include imagelight;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark){
    @include darkmode;
  }
  :root:not(.light):not(.dark) img{
    @include imagedark;
  }
}

html.light img{
  @include imagelight;
}

html.dark img{
  @include imagedark;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*

to handle
Not scroll to top after changing route:
https://github.com/vercel/next.js/issues/28778

maybe, things need to be as natural as possible
checkout html, body, main

*/

html,
body {
  min-height: 100%;
  max-width: 100vw;
  color: var(--text);
  background-color: var(--bg);
  transition: background-color 420ms;
}


main {
  min-height: 100%;
  max-width: 100vw;
  padding: 2rem;
  padding-bottom: 5rem;
}

a{
  color: var(--anchor);
  text-decoration: none;
}

a:active{
  opacity: 0.5;
}

.main-header{
  padding: 1rem 1.6rem;
  border-bottom: 1px solid var(--border);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: transparent;
  backdrop-filter: blur(21px) saturate(4.2);
  z-index: 100;
  transition: border-bottom 420ms;
}

@media only screen and (min-width: 600px) {
  .main-header{
    text-align: center;
  }
}

.main-header a.logo{
  color: var(--text);
  mix-blend-mode: difference;
  text-decoration: none;
}

.main-header .dark-mode-selector{
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%;
}
